* {
    text-align: center;
    box-sizing: border-box;
}

body {
    background-color: rgb(177, 222, 240);
    background: linear-gradient(45deg, red, blue);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Lucida Sans';
}


img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

#picture-frame {
    width: 520px;
    height: 520px;
    text-align: center;
    border: solid rgb(224, 70, 183) 10px;
    border-radius: 10px;
    overflow: hidden;
}

.button {
    width: 100px;
    height: 100px;
    font-size: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    transition: 0.1s;
}

.button:hover {
    transform: scale(1.1);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 520px 1fr ;
    grid-template-rows: 1fr 100px 1fr;
    column-gap: 15px;
}

.button-container {
    grid-row: 2 / 3;
    background-size: 80px;
    background-repeat: no-repeat;
}

.picture {
    grid-row: 1 / 4;
}

.right {
    float: left;
}

.left {
    float: right;
}
